<h2>Login Form</h2>
<form (submit)="loginUser()">
  <input
    id="email"
    type="email"
    name="email"
    placeholder="Email Address"
    [ngModel]="loginData().email"
    (ngModelChange)="updateEmail($event)"
  />
  <input
    id="password"
    type="text"
    name="password"
    placeholder="Password"
    [ngModel]="loginData().password"
    (ngModelChange)="updatePassword($event)"
  />

  <section class="buttons">
    <button id="loginBtn" class="btn-primary" type="submit">Login</button>
    <span>---------- OR ----------</span>
    <span
      >Don't have an account?
      <a id="signupBtn" (click)="closeDialog();openSignUpDialog()"
        >Sign Up</a
      ></span
    >
    <a type="button" id="closeBtn" class="btn-light" (click)="closeDialog()"
      >Close</a
    >
  </section>
</form>
