* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}
:root {
  --primary-color: #be003b;
  --primary-light-color: #ff0059;
  --secondary-color: #ffde46;
  --secondary-light-color: #fff36c;
  --bg-light: #ffffff;
  --bg-dark: #313638;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

html,
body {
  height: 100%;
}
