* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}
:root {
  --primary-color: #be003b;
  --primary-light-color: #ff0059;
  --secondary-color: #ffde46;
  --secondary-light-color: #fff36c;
  --bg-light: #ffffff;
  --bg-dark: #313638;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-light-color);
  color: white;
  border-radius: 8px;
  font-weight: bolder;
}

html,
body {
  height: 100%;
}
